<div class="bg-white">
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-8 sm:py-4 lg:max-w-7xl lg:px-8"
  >
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8"
    >
      <div
        class="relative group flex flex-col justify-between"
        [ngClass]="{
          'shadow-xl shadow-gray-400 bg-gray-100': i === 0,
          ' bg-gray-50': i !== 0
        }"
        *ngFor="let product of products; index as i"
      >
        <button
          class="absolute top-2 right-2 bg-white p-2 rounded-full shadow hover:bg-red-100 transition"
          *ngIf="i === 0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-red-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
        </button>
        <img
          [src]="product.image"
          alt="{{ product.product_name }}"
          class="max-h-56 aspect-square w-full bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8 overflow-auto"
        />
        <button
          class="ml-15 max-w-40 text-sm bg-white text-black border border-gray-100 rounded px-6 py-2 hover:bg-gray-100 transition"
          *ngIf="i === 0"
        >
          Move to Cart
        </button>
        <h3 class="mt-4 ml-2 text-sm text-gray-700 font-bold">
          {{ product.product_name || "not available" }}
        </h3>
        <h3 class="mt-2 ml-2 text-sm text-gray-700">
          {{ product.category_name || "uncategorized" }}
        </h3>
        <p class="mt-1 ml-2 text-md font-md text-gray-900">
          ${{ product.price || "not available" }}
          <span class="ml-2 text-gray-400 line-through text-base">
            ${{ product.id || "not available" }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
